html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



html, body {
    height: 100%;
    width: 100%;
}

#outer-container {
    background-color: red;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: [first] 33% [second] 33% [third] auto;
    grid-template-rows: [top] 85% [bottom] auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#writing-container {
    grid-column-start: first;
    grid-column-end: span 1;
    grid-row-start: top;
    grid-row-end: span 1;
}

#programming-container {
    grid-column-start: second;
    grid-column-end: span 1;
    grid-row-start: top;
    grid-row-end: span 1;
}

#designing-container {
    grid-column-start: third;
    grid-column-end: span 1;
    grid-row-start: top;
    grid-row-end: span 1;
}

#links-container {
    grid-column-start: first;
    grid-column-end: span 3;
    grid-row-start: bottom;
    grid-row-end: span 1;
}

.content-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    background-color: white;
}